.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgba(136, 3, 3, 0.78);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;


    >span {
        font-size: 32px;
        margin-left: 16px;
    }

    >img {
        width: 50px;
        height: 60px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: rgb(2, 105, 23) !important;
}